{% extends "base.html" %}

{% block title %}Enter new password{% endblock %}

{% block pageContent %}

{% if validlink %}


<div class="content-section">
  <h2 style="color:#000; padding:10px; ">Set a new password!</h2>
  <p>Please enter your new password.</p>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
  <input type="submit" value="Change my password">
  </form>
</div>
{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
{% endblock %}